header {
    text-align: center;
    border-bottom: 1px solid orangered;
    background-color: rgb(109, 209, 214);
}


footer{
    text-align: center;
    border-top: 1px solid orangered;
    background-color: rgb(109, 209, 214);
}


.col-12 h2, .col-4 h2{
    color: orangered;
}
.col-6 h1 {
    text-align: center;
}
.col-8 h3 {
    margin-top: 11%;
}
.col-4 img{
    width: 100%;
    height: auto;
    background-size: contain;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table, td {
    padding: 7px;
}
table {
    width: 95%;
}

.wrap {
    display:flex;
}
.box2 {
	flex:1;
	padding:10px;
    font-size: 15px;
}
.box2 img {
    float:right;
    padding: 80px 0 0 5px;
    max-width:53%;
    height:auto;
}
.box2 h3{
    text-align: left;
}
.box2 ul {
    text-align: left;
}


/* MEDIA QUERY... */

@media screen and (min-width:993px) and (max-width:1311px) {
    .box2 img {
        float:right;
        padding: 60px 0 0 10px;
        max-width:50%;
        height:auto;
    }
}


@media screen and (min-width:720px) and (max-width:992px){
    .wrap {
        display: flex;
        flex-flow: column;
        height: auto;
    }
    .box2 {
        width: 90%;
    }
    .box2 img {
        float:right;
        padding: 40px 0 0 10px;
        max-width:40%;
        height:auto;
    }
}
@media screen and (min-width:689px) and (max-width:720px) {
    .col-4 img{
        width: 80%;
        height: auto;
        background-size: contain;
    }
    .wrap {
        display: flex;
        flex-flow: column;
        height: auto;
    }
    .box2 {
        width: 90%;
    }
    .box2 img {
        float:right;
        padding: 35px 0 0 10px;
        max-width:40%;
        height:auto;
    }
}

@media screen and (min-width:496px) and (max-width:689px){
    .col-4 img{
        width: 70%;
        height: auto;
        background-size: contain;
    }
    .wrap {
        display: flex;
        flex-flow: column;
        height: auto;
    }
    .box2 {
        width: 90%;
        height: auto;
    }
    .box2 img {
        float:right;
        padding: 50px 0 0 10px;
        max-width:35%;
        height:auto;
    }
}

@media screen and (min-width:200px)and (max-width:496px) {  
    .col-6 img {
        width: 70%;
        height: auto;
        background-size: contain;
    }
    .col-4 img{
        width: 70%;
        height: auto;
        background-size: contain;
    }
    .wrap {
        display: flex;
        flex-flow: column;
        height: auto;
    }
    .box2 {
        width: 90%;
        height: auto;
    }
    .box2 img {
        float:right;
        padding: 50px 0 0 10px;
        max-width:35%;
        height:auto;
    }
}

@media screen and (max-width:200px) {
    .col-6 img {
        width: 70%;
        height: auto;
        background-size: contain;
    }
    .col-4 img{
        width: 70%;
        height: auto;
        background-size: contain;
    }
    .wrap {
        display: flex;
        flex-flow: column;
        height: auto;
    }
    .box2 {
        width: 90%;
        height: auto;
        min-width: 20%;
        min-height: auto;
    }
    .box2 img {
        float:right;
        padding: 125px 0 0 10px;
        max-width:35%;
        height:auto;
    }
}