body {
    background-color: rgb(109, 209, 214);
    width: 90%;
    margin: auto;
    font-size: 18px;
}
.Webpage {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: orangered;
    text-align: center;
    min-height: 80px;
}
header {
    border-bottom: 1px solid orangered;
    background-color: rgb(29, 74, 82);
    padding: 2px;
}
.Container1 {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}
.ProfileContent {
    text-align: center;
    padding-top: 5px;
    margin-top: 3%;
    color: orangered;
    flex: 1;
}
.ProfilePic {
    /*float: right;*/
    margin-top: 1%;
    flex: 2;
    padding-left: 1em;
}
.City {
    color: orangered;
}
.Container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.CityImg img{
    /*width: 80%;
    height: auto;*/
    background-size: contain;
}
.Foreign h2 {
    padding-top: 2em;
    color: orangered;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table, td {
    padding: 7px;
}
table {
    width: 80%;
}
.Container3 {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: flex-start;
    /*align-items: center*/
}
.Historical{
    color: orangered;
}
.BoxContent h3{
    text-align: center;
}

.Footer {
    border-top: 1px solid orangered;
    background-color: rgb(29, 74, 82);
    padding: 2px;
}
.Footer h3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: orangered;
    text-align: center;
    min-height: 5px;
}

@media screen and (min-width:1312px){
    .CityImg img {
        padding-right: 20px;
        margin-top: 7%;
    }
    .BoxPic {
        margin-top: 3%;
        padding: 0 6px 0 6px;
    }
    .BoxContent {
        font-size: 20px;
    }
}
@media screen and (min-width:993px) and (max-width:1311px) {
    .CityImg img {
        padding-right: 20px;
        margin-top: 7%;
    }
    .BoxPic {
        width: 100%;
        margin-top: 8%;
        padding: 0 6px 0 6px;
    }
    .BoxPic img{
        width: 100%;
        height: auto;
        background-size: contain;
    }
    .BoxContent {
        font-size: 8px;
    }
}


@media screen and (min-width:689px) and (max-width:992px){
    .CityImg {
        width: 45%;
    }
    .CityContent {
        width: 55%;
    }
    .CityImg img{
        width: 90%;
        height: auto;
        background-size: contain;
        margin-top: 7%;
    }
    .Container3 {
        flex-wrap: wrap;
        align-items: top;
    }
    .BoxContent{
        width: 50%;
        font-size: 5px;
    }
    .BoxPic{
        width: 45%;
    }
    .BoxPic img{
        width: 90%;
        height: auto;
        background-size: contain;
    }
}

@media screen and  (max-width:688px){
    .Container1 {
        align-items: center;
    }
    .ProfilePic{
        width: 50%;
    }
    .ProfileContent {
        width: 50%;
    }
    .ProfilePic img {
        width: 90%;
        height: auto;
        background-size: contain;
        min-width: 40%;
    }
    .CityImg {
        width: 45%;
    }
    .CityContent {
        width: 55%;
    }
    .CityImg img {
        width: 90%;
        height: auto;
        background-size: contain;
        margin-top: 7%;
    }
    .Container3 {
        flex-wrap: wrap;
        align-items: stretch;
    }
    .BoxContent{
        width: 50%;
    }
    .BoxPic{
        width: 45%;
        margin-top: 20%;
    }
    .BoxPic img {
        width: 90%;
        height: auto;
        min-width: 40%;
    }
}